html, body{
  height: 100%;
  position: relative;
  background:  url("../images/authbg.jpg") no-repeat;
  background-size: cover;
}

.layer {
  background-color: rgba(#363636, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.auth{
  height: 100%;
  z-index: 100 !important;
}